@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap");
body,
.container {
  font-family: "Montserrat", sans-serif;
}

.titrePrincipal{
  background-color: #fecc01;
  display: block;
  height: 110px;
  color: #000;
  font-size: 24px;
  padding-left: 16px;
}

.cardTitle{
  font-weight: bold;
}

.posterAlign {
  float: left;
  margin-right: 10px;
}


